.App {
  text-align: center;
}

.question-card {
  margin: 0 auto;
  width: 80%;
  height: 600px;
  background-color: #863A6F;
  padding: 16px;
  border: 4px groove #863A6F;
  color: black;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

ul {
  list-style: none;
  margin: 40px 25px 0px -5px;
}

li {
  margin-top: 8px;
  background-color: #FFADBC;
  padding: 16px;
  border-radius: 20px;
  font-size: 20px;
}

.question-text {
  color: black;
  font-size: 24px;
}

.flex{
  display: flex;
  margin-bottom: 30px;
  justify-content: space-evenly;
}

.toggle-button{
  margin-left: 745px;
  background-color: black;
  width: 180px;
  height: 55px;
  padding: 0px;
  border-radius: 20px;
  margin-top: 20px;
}

.header{
  margin-left: 700px;
}

.final-results {
  margin: 0 auto;
  width: 50%; 
  margin-top: 64px;
  background-color: #863A6F;
  padding: 16px;
  border-radius: 16px;
  color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

button {
  background-color: #975C8D; 
  border: none;
  color: white;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  border-radius: 24px;
  margin: 110px 30px 0px 30px;
}

button:hover{
  background-color: white;
  color: #863A6F;
  transition: 0.75s;
  border: 3px solid #863A6F;
}

li:hover{
  background-color: white;
  color: #863A6F;
  transition: 0.5s;
  border: 1px solid black;
}

@media only screen and (max-width: 600px){
  .toggle-button{
    margin-left: 20px;
  }
  ul{
    margin-left: -40px;
  }
  button{
    margin: 15px 0px 0px 0px;
  }
}